In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Group 4 Database.xlsx", header=2)
df.head()

C:\Users\ruchi\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\ruchi\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():

,Name,Gender,Department,Reason for leaving,Years in organization
0,Ches Bonnell,Male,Sales,Better Salary,7
1,Garwin Peasegood,Female,Engineering,Better Position,12
2,Saunders Blumson,Not Revealed,Legal,Better Work Life Balance,5
3,Gardy Grigorey,Female,Support,Preffered Job Location,10
4,Marlie Charsley,Male,Support,Higher Studies,10

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874 entries, 0 to 873
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   874 non-null    object
 1   Gender                 874 non-null    object
 2   Department             874 non-null    object
 3   Reason for leaving     874 non-null    object
 4   Years in organization  874 non-null    int64
dtypes: int64(1), object(4)
memory usage: 34.3+ KB

In [7]:
df[df.duplicated()]

Empty DataFrame
Columns: [Name, Gender, Department, Reason for leaving, Years in organization]
Index: []

In [9]:
df.isnull().sum()

Name                     0
Gender                   0
Department               0
Reason for leaving       0
Years in organization    0
dtype: int64

In [105]:
highest_leave = df.groupby('Department')['Reason for leaving'].count().sort_values(ascending=False)
highest_leave

Department
Legal                       80
Product Management          80
Services                    77
Engineering                 75
Sales                       75
Support                     75
Business Development        74
Human Resources             73
Training                    72
Accounting                  65
Research and Development    65
Marketing                   63
Name: Reason for leaving, dtype: int64

In [109]:
avg_tenure = df.groupby('Department')['Years in organization'].mean().sort_values(ascending=False)
avg_tenure.round(2)

Department
Training                    8.36
Support                     8.16
Research and Development    8.08
Legal                       7.92
Sales                       7.76
Human Resources             7.75
Marketing                   7.70
Services                    7.53
Business Development        7.51
Product Management          7.40
Accounting                  7.37
Engineering                 7.32
Name: Years in organization, dtype: float64

In [119]:
top_3_reasons = df['Reason for leaving'].value_counts().head(3)
top_3_reasons

Reason for leaving
Better Position           196
Preffered Job Location    192
Higher Studies            182
Name: count, dtype: int64

In [151]:
most_common_reason = (
    df.groupby(['Department', 'Reason for leaving'])
      .size()
      .reset_index(name='Count')
      .sort_values(['Department', 'Count'], ascending=[True, False])
      .drop_duplicates(subset=['Department'])
)

most_common_reason

                  Department        Reason for leaving  Count
4                 Accounting    Preffered Job Location     16
7       Business Development  Better Work Life Balance     18
13               Engineering            Higher Studies     20
15           Human Resources           Better Position     19
22                     Legal  Better Work Life Balance     23
25                 Marketing           Better Position     20
34        Product Management    Preffered Job Location     22
35  Research and Development           Better Position     18
43                     Sales            Higher Studies     21
47                  Services  Better Work Life Balance     18
54                   Support    Preffered Job Location     26
58                  Training            Higher Studies     22

## Number of employees who left, gender-wise

In [159]:
df.groupby('Gender').size()

Gender
Female          406
Male            430
Not Revealed     38
dtype: int64

## Average years in organization by gender

In [163]:
df.groupby('Gender')['Years in organization'].mean().round(2)

Gender
Female          7.77
Male            7.67
Not Revealed    8.13
Name: Years in organization, dtype: float64

In [167]:
df['Experience_Group'] = pd.cut(
    df['Years in organization'],
    bins=[0, 3, 7, 100],
    labels=['0–3 Years', '4–7 Years', '8+ Years']
)

In [169]:
df['Experience_Group'].value_counts()

Experience_Group
8+ Years     460
4–7 Years    235
0–3 Years    179
Name: count, dtype: int64

In [175]:
early_exit = df[df['Years in organization'] <= 3]
early_exit.groupby('Department').size().sort_values(ascending=False)

Department
Product Management          23
Engineering                 20
Services                    20
Research and Development    15
Sales                       15
Accounting                  13
Human Resources             13
Support                     13
Training                    13
Business Development        12
Legal                       12
Marketing                   10
dtype: int64

In [177]:
df.groupby(['Gender', 'Reason for leaving']).size()

Gender        Reason for leaving
Female        Better Position             99
              Better Salary               55
              Better Work Life Balance    75
              Higher Studies              87
              Preffered Job Location      90
Male          Better Position             85
              Better Salary               65
              Better Work Life Balance    93
              Higher Studies              89
              Preffered Job Location      98
Not Revealed  Better Position             12
              Better Salary                6
              Better Work Life Balance    10
              Higher Studies               6
              Preffered Job Location       4
dtype: int64